# User data
.DS_Store

# Temporary files
*~
*.swp
*.asv

# Data
*data

*.jpg
*.bmp
*.pgm
*.gif
*.fig
*.mov
*.png

*.mat
*.zip
*.db
*.tar.gz

# videos
*.mp4
*.txt
*.key

# Compiled files
*.o
*.mex*
*.dSYM
*.user

# Common data/binary directories
1_video
2_nFrames
3_index
4_poses
5_markers
7_result